.QuestionsContainer{
    display: flex;
    flex-direction: column;
    
    margin: 10%;
    background-color: white;
    color:black;
    justify-content: space-around;
   
    overflow: auto;
  
}
.QuestionOuter{
    display: flex;
    flex-direction: column;
      margin: 10px;
   
    align-items: stretch;
    
   
  
}
.QuestionHeader{
   
     border: 1px solid black;
}
.QuestionContent{
  
    background-color: #6BE5F0;
    text-align: center;
    border: 1px solid black;
}
.QuestionOptions{
    
       border: 1px solid black;
       
}
.CalculateButtonHold{
    margin-top: 60px;
      display: flex;
     
      justify-content: center;
      align-items: center;
}
.CalculateButton {
    border-radius: 5px;
    border: 2px solid black;
    width: 20%;
    height: 30px;
}